* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: Georgia, serif;
  margin-bottom: 20px;
  text-transform: capitalize;
}

p {
  font-family: Tahoma, sans-serif;
}

.section {
  width: 100%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left {
  width: 100%;
  height: 400px;
  background: url(../img/under-construction.jpg) center/cover no-repeat;
}

.right {
  width: 90%;
  min-height: 300px;
  color: #fff;
  background-color: #303137;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -100px;
  padding: 30px;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .section {
    width: 90%;
    max-width: 1400px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px auto;
  }
  .section .left {
    width: 50%;
    height: 600px;
    border-radius: 8px;
  }
  .section .right {
    width: 50%;
    min-height: 400px;
    margin: 0;
    margin-left: -150px;
  }
}
